name: "Lint"

"on":
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v5.0.1"

      - name: "Set up Python"
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.13"
          cache: "pip"

      - name: "Install requirements"
        run: python3 -m pip install -r requirements.txt

      - name: "Run"
        run: python3 -m ruff check .
